.about-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3253676470588235) 150%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-bottom: calc(var(--padding-base)*4);

  .parts {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-base)*10);
  }

  p {
    color: var(--theme-color-secondary);
  }

  @media screen and (min-width: 1400px) {
    p {
      font-size: calc(var(--font-size-base)*1.3);
    }

    .title-container {
      font-size: calc(var(--heading-3-size)*1.3);
    }
  }

  @media screen and (max-width: 1145px) {
    .vystavene-frezy {
      width: 300px !important;
      height: 300px !important;
    }

    .double-frezy {
      width: 300px !important;
      height: 150px !important;
    }

    .first-part {
      padding: 0 var(--padding-base) !important;
    }

    .heading-container, .subheading-container {
      padding-left: var(--padding-base) !important;
    }

    .navbar-container {
      .navbar-logo {
        padding-left: var(--padding-base) !important;
      }
    }
  }

  @media screen and (max-width: 950px) {
    .vystavene-frezy {
      width: 200px !important;
      height: 200px !important;
    }

    .double-frezy {
      width: 200px !important;
      height: 100px !important;
    }
  }

  @media screen and (max-width: 520px) {
    .about-text-logo {
      width: 300px;
    }

    .freza-laser {
      width: 300px;
    }

    .first-part {
      flex-direction: column !important;
      align-items: center !important;
    }

    .max-width-class {
      max-width: 80% !important;
    }
  }

  height: 100%;
  width: 100%;

  .top-background {
    background: url("../../images/o_nas.png") no-repeat center top;
    background-size: 1440px 360px;
    height: 360px;
    width: 100%;
    margin-top: -104px;

    @media screen and (min-width: 1400px) {
      background-size: 1440*1.4px 360*1.4px;
    }

    .heading-container {
      width: 100%;
      height: 100%;
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      padding: 200px 0 0 calc(var(--padding-base)*5);
    }

    .subheading-container {
      width: 100%;
      height: 30%;
      color: white;
      margin-top: -100px;
      padding-left: calc(var(--padding-base)*5);
      box-sizing: border-box;
    }
  }

  .about-text-logo {
    padding: var(--padding-base);
    margin-top: auto;
  }

  .vystavene-frezy {
    object-fit: cover;
    width: 400px;
    height: 400px;
  }

  .double-frezy {
    object-fit: cover;
    width: 500px;
    height: 200px;
  }

  .first-part {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: calc(var(--gap-base)*4);
    padding: 0 calc(var(--padding-base)*5);
    text-align: start;
    justify-content: center;
  }

  .first-part-col {
    display: flex;
    flex-direction: column;
    gap: var(--gap-base);
    flex: 1;
  }

  .first-part-col-img {
    display: flex;
    justify-content: flex-end;
  }

  .max-width-class {
    max-width: 40%;
  }
}
