.about-content-text {
  display: block;
  text-align: center;
  width: 30%;
  height: 100%;
  padding: 2rem;
  border-radius: 25% 10%;
  background: rgba(255, 255, 255, 0.8);
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
