.about-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.about-container-header {
  text-align: center;
}

.about-content {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.about-content-text {
  width: 30%;
  box-sizing: border-box;
  text-align: center;
  padding: 2rem;
  border-radius: 25% 10%;
  background: rgba(255, 255, 255, 0.8);
  flex-basis: 30%;
  display: inline-block;
}
