.eshops-content-text {
  display: block;
  text-align: center;
  width: 30%;
  height: 100%;
  padding: 2rem;
  border-radius: 25% 10%;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.eshops-overview {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.eshops-content-text:hover {
  transform: scale(0.90);
  transition: 700ms;
}
