.references-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.74) 100%);
  margin-top: -104px;
  padding-top: 90px;

  .heading-container {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 200px 0 0 calc(var(--padding-base) * 5);

    @media screen and (max-width: 1145px) {
      padding-left: var(--padding-base) !important;
    }
  }

  .top-background {
    //background: url("../../images/references.png") no-repeat;
    //height: 500px;
    //width: 100%;
    //background-size: 100% 100%;
    //margin-top: -104px;

    background: url("../../images/reference_tkadlec.png") no-repeat center center;
    background-size: 1080*1.2px 1920*1.2px;
    height: 360px;
    width: 100%;
    margin-top: -104px;

    @media screen and (min-width: 1400px) {
      background-size: 1080*1.8px 1920*1.8px;
    }
  }

  .references-header {
    text-align: center;
    max-width: 30%;
    font-size: 1.2rem;
    margin-bottom: 1rem;

    @media (max-width: 500px) {
      font-size: 1rem;
      max-width: 80%;
    }

    a {
      text-decoration: none;
      color: #313131;
    }

  }

  .unknown-company {
    background-color: red;
    border-color: rgb(255, 255, 255);
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    max-width: 150px;
    padding-left: 0;
    padding-right: 0;
  }

  .review {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    max-width: 90%;
  }

  .review-text {
    text-align: justify;
  }

  .reviews {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .references-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5)
  }
}