//.bg-image {
//  background-image: url("../../images/aparatea_bg.png");
//  background-size: cover;
//  height: 100vh;
//}

.bg-image {
  position: relative;
  background-image: url("../../images/aparatea_bg.png");
  background-size: cover;
  height: 100vh;
}

.bg-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 1;
  //border-width: 0 50vw 50vh 50vw;
  border-width: 15vh 50vw 0 50vw;
  border-color: transparent rgba(0, 0, 0, 0.7) transparent rgba(0, 0, 0, 0.7);
  background-color: transparent;
}

