:root {
  --theme-color-primary: rgba(33, 62, 109, 1);
  --theme-color-secondary: rgba(70, 70, 70, 1);
  --theme-color-secondary-light: #CDCDCD;
  --white-color: rgba(255, 255, 255, 1);
  --black-color: rgba(17, 17, 17, 1);

  --heading-size: 50px;
  --heading-2-size: calc(var(--heading-size)/1.618);
  --heading-3-size: calc(var(--heading-2-size)/1.618);
  --font-size-base: 18px;
  --font-size-half: calc(var(--font-size-base)/2);

  --padding-base: 16px;
  --padding-half: calc(var(--padding-base)/2);
  --padding-quarter: calc(var(--padding-half)/2);

  --gap-base: 16px;
  --gap-half: calc(var(--gap-base)/2);
  --gap-quarter: calc(var(--gap-half)/2);

  .flex {
    display: flex;
  }

  .inline-flex {
    display: inline-flex;
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-col {
    flex-direction: column;
  }

  .gap {
    gap: var(--gap-base);
  }

  .gap-50 {
    gap: 50px;
  }

  .padding {
    padding: var(--padding-base);
  }

  .padding-left {
    padding-left: var(--padding-base);
  }

  .padding-right {
    padding-right: var(--padding-base);
  }

  .padding-top {
    padding-top: var(--padding-base);
  }

  .padding-bottom {
    padding-bottom: var(--padding-base);
  }

  .padding-50 {
    padding: 50px;
  }

  .padding-left-50 {
    padding-left: 50px;
  }

  .padding-right-50 {
    padding-right: 50px;
  }

  .padding-top-50 {
    padding-top: 50px;
  }

  .padding-bottom-50 {
    padding-bottom: 50px;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-around {
    justify-content: space-around;
  }

  .items-start {
    align-items: flex-start;
  }

  .items-center {
    align-items: center;
  }

  .items-end {
    align-items: flex-end;
  }

  .valign-top {
    vertical-align: top;
  }

  .valign-middle {
    vertical-align: middle;
  }

  .valign-bottom {
    vertical-align: bottom;
  }

  .max-width-half {
    max-width: 50%;
  }

}
